<br>
<h1>Iniciar Sesión</h1>
<div class="container">


  <div class="container mt-5">
    <div class="dropdown " id="drop">
            <br>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Cuenta</label>
              <input type="text" class="form-control cuenta">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                <input type="text" class="form-control pass1">
            </div>
            <br>
          <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
          <br><br>
    </div>

  </div>

</div>
<br><br><br><br><br><br><br><br><br>