<div class="preguntas">
<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          ¿En dónde tengo que acudir a las pruebas?
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Depende del equipo al que hayas aplicado, el equipo que se haya anunciado, proporciona toda la información,
            incluyendo la equipación necesaria, el día, la hora y el lugar exacto.
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-heading1">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse1" aria-expanded="false" aria-controls="flush-collapse1">
            ¿Cómo se si tengo que hacer pruebas?
          </button>
        </h2>
        <div id="flush-collapse1" class="accordion-collapse collapse" aria-labelledby="flush-heading1" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Tienes que inscribirte al equipo que te interesa, donde podrás ver fecha y horario para acudir a hacer las pruebas.
            Entonces, una vez inscrito, tendrás que ir a hacer la prueba.
          </div>
        </div>
      </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  ¿Cobran por registrarse?
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">GOAL es completamente gratis para los jugadores ¡tienes 3 créditos gratis por mes! si quieres mas, tendrás que pagar
                    una suscripción. En cambio, si cuentas con un equipo, tendrás que pagar mensualmente para mantener tus anuncios en línea.
                </div>
              </div>
            </div>
        </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
          ¿Qué equipos se anuncian en esta página?
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Cualquier equipo es libre de anunciarse en nuestro sitio. Desde equipos que apenas están empezando,
            ¡hasta equipos históricos como el Real Madrid CF!
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
          ¿Cómo me inscribo para las pruebas?
        </button>
      </h2>
      <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">¡Navega por los anuncios y selecciona el equipo que mas te agrade!</div>
      </div>
    </div>
  </div>
</div>
<br><br><br>

<app-chat></app-chat>

<br><br><br><br><br><br>

