<div class="cart">
<div class="cards" *ngFor="let i of array">
  <br>

  <div class="card" style="width: 12rem;">
    
      <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Goal-com_Logo.svg/1073px-Goal-com_Logo.svg.png" width="300">

      <div class="card-body tarjeta">
        <h5 class="card-title">{{i.company}}</h5>
        <p class="card-text">Vacante de empleo</p>
        <p class="card-text">{{i.id}}</p>
        <p class="card-text">{{i.fecha}}</p>
        <p class="card-text">{{i.lista}}</p>
        <p class="card-text">{{i.puesto}}</p>
        <p class="card-text">{{i.exp}}</p>
        <p class="card-text">{{i.modalidad}}</p>
        <p class="card-text">{{i.sueldo}}</p>
        <a href="./pdf" class="btn btn-primary">Postularme</a>
        <p></p>
        </div>
      </div> 
  </div>
</div>
  <div class="comp">
  <h4>Buscar por nombre de compañía</h4>
</div>
  <form class="d-flex buscar" role="search">
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success" type="submit" (click)="nombrec()" data-bs-toggle="modal" data-bs-target="#exampleModal" >Search</button>
</form>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¡Noooo!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        La compañía que intentas buscar, no está dada de alta 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<br><br>
<div class="vac">
  <h4>Buscar por nombre de vacante</h4>
</div>
  <form class="d-flex buscar" role="search">
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success" type="submit" (click)="nombrec()" data-bs-toggle="modal" data-bs-target="#exampleModal" >Search</button>
</form>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¡Noooo!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        La vacante que intentas buscar, no está dada de alta 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<br><br>