<div class="cards" *ngFor="let i of array">
    <br>
        
        <div class="card-body tarjeta">
          <h5 class="card-title">{{i.company}}</h5>
          <p class="card-text">Vacante de empleo</p>
          <p class="card-text">{{i.id}}</p>
          <p class="card-text">{{i.fecha}}</p>
          <p class="card-text">{{i.lista}}</p>
          <p class="card-text">{{i.puesto}}</p>
          <p class="card-text">{{i.exp}}</p>
          <p class="card-text">{{i.modalidad}}</p>
          <p class="card-text">{{i.sueldo}}</p>
          <a href="./pdf" class="btn btn-primary">Postularme</a>
          <p></p>
          </div>
        </div> 
